.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 5rem;
  right: 22rem;
  height:30rem;
  width:15rem;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.image{
    width:12rem;
    padding:10px;
    align-items: center;
}

h4{
    text-align:center;
    padding:5px;
    font-family: "Liberation Mono";
    font-size:1.2rem;
}

p{
   text-align:center;
    padding:0px;
    font-family: "Liberation Mono";
    font-size:1rem; 
}

input{
    background:#f1f1f1;
    outline:none;
    cursor:pointer;
    color:#000;
}

#button{
    background:	rgb(34,139,34);
    color:white;
}

#logout{
    text-decoration:none;
    background:red;
    color:#fff;
}